.Grid-bordered-bottom,
.Grid-bordered {
    border-bottom: 1px inset #dddddd;
}

.Grid-column-item { /*CLOBBER : NOT USED*/
}

.Grid-column-header {
    justify-content: center;
    background-color: wheat;
}


/*DEMO 1-3 */

.guitar-dept-column-centerjustified,
.guitar-dept-column-header { /*Bad naming as this is only being used on grid pages*/
    justify-content: center;
}

.guitar-dept-column-color-wheat,
.guitar-dept-column-color,
.guitar-dept-column-header { /*Bad naming as this is only being used on grid pages*/
    background-color: wheat;
}


.guitar-dept-media-include p {
    font-size: medium;
}
.guitar-dept-nav-button {
    font-size: 2vh;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 3px 0 3px;
}

.guitar-dept-nav-button a {
    text-decoration: none;
    /*color: grey;*/
    padding: 0 3px 0 3px;
}


.guitar-dept-masthead-org-banner {
    font-size: 4vh;
    overflow: hidden /* DEBUG */
}

.guitar-dept-masthead img {
    /*  style="width: 140px;height: 210px;" */
    height: 20vh;
}
.guitar-dept-submasthead img {
    /*   <!-- rotating images are 464px × 95px --> */
    max-height: 12.5vh;
    /*min-height: 72px; !* works but undesired bc of aspect ratio *!*/
    min-height: 6.25vh;
    min-width: 35vw;  /* causes nav bar to not wrap, image distortion at smaller screen width */
    /*width: 35vw; !* need aspect-breakpoint for shrink *!*/
}

.guitar-dept-media-image,
.guitar-dept-media-bio-image,
.guitar-dept-media-faculty-image,
.guitar-dept-media-news-image,
.guitar-dept-news-media-image-sizing-hack { /* DEMO 1-2 */
    max-width: 245px; /* because guitar competition logo is so long */
    max-height: 350px; /* because guitar competition logo is so long */
}

.guitar-dept-media-bio-highlights,
.guitar-dept-media-news-highlights {
    flex-basis: 15%;
    /*min-width: 10vw;*/
    padding-left: 1rem;
    padding-right: 1rem;
}
.guitar-dept-media-bio-highlights p ,
.guitar-dept-media-news-highlights p {
    /*font-size: 1vh;*/
    font-size: small;
}
.guitar-dept-media-bio-highlights strong ,
.guitar-dept-media-news-highlights strong {
    color: #09478f;
    /*font-size: 2.5vh;*/
    font-size: x-large;
}
.guitar-dept-force-uppercase-text,
.guitar-dept-text-button,
.guitar-dept-nav-text-button,
.guitar-dept-footer-text-button {
    text-transform: uppercase;
}

.guitar-dept-text-button-padding,
.guitar-dept-text-button,
.guitar-dept-nav-text-button,
.guitar-dept-footer-text-button {
    padding-right: 1rem;
}