/*
* =============================================================================================
*           GENERAL LAYOUT
* =============================================================================================
*/

body {
    font-family: Philosopher, sans-sarif;
}
main,
footer,
.margin-forGrid,
.margin-forMain {
    margin: 0 15vw 0 15vw;
}


/*DEMO 1-3 sticky footer */
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* DEMO 1-2 */
    /*height: 100vh;*/ /* DEMO 1-3 */
    color: black;
    background-color: white;
}
.guitar-debt-sticky-footer {
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
    flex-basis: 5%;
    align-content: flex-end;
    /*background-color: WhiteSmoke;*/
    border-top: 1px solid #dddddd;
}
header,
footer, /*DEBUG*/
main {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
main {
    min-height: 65vh;
}

header, header-navbar { /*including header-navbar is wacky naming as the navbar is a row*/
    display: flex;
    flex-direction: column;
}


/*============= GUITAR DEPT flexbox verbs =========*/

.guitar-dept-display-flex,
.guitar-dept-display-flex-row,
.guitar-dept-display-flex-column,
.guitar-dept-display-flex-nowrap,
.guitar-dept-display-flex-wrap {
    display: flex;
}

.guitar-dept-display-flex-nowrap {
    flex-wrap: nowrap;
}
.guitar-dept-display-flex-wrap {
    flex-wrap: wrap;
}
.guitar-dept-display-flex-row {
    flex-direction: row;
}

.guitar-dept-display-flex-column {
    flex-direction: column;
}

/* ====== MASTHEAD FLEXBOX ====== */
.guitar-dept-masthead {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.guitar-dept-submasthead {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/* ====== media objects ====== */

.guitar-dept-media-objects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.guitar-dept-media-object { /* DEBUG : NOT USED? */
    display: flex;
    flex-direction: column;
}

.guitar-dept-news-media-included-html { /* CLOBBER : NOT USED */
    display: flex;
    flex-direction: row;
}

/*.guitar-dept-media-object-included { !* CLOBBER : NOT USED *!*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/

.guitar-dept-media-bio-include-basis,
.guitar-dept-media-news-include-basis {
    flex-basis: 40%;
}
.guitar-dept-main-faculty-section-flex-justification,
.guitar-dept-main-news-section-flex-justification,
.guitar-dept-main-media-section-flex-justification {  /* DEBUG : NOT USED? */
    justify-content: space-between;
}



.Grid {
    display: flex;
    flex-wrap: wrap;
}

.Grid-cell {
    flex: 1;
}
.Grid-column-collection {
    flex-direction: column;
}

.Grid-row-collection {
    flex-direction: row; /* DEFAULT */
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navigation-buttons ul { /* DEBUG */
    flex-wrap: wrap;
}
.navigation-buttons li { /* CLOBBER */
    /*list-style: none;*/
}