body {
  font-family: Philosopher, sans-sarif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: black;
  background-color: white;
}

.content-section-constraints {
}
.content-section-width, .content-section-constraints {
  width: 90vw;
}
.guitar-dept-content-sizing-constraint {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.standard-margin, .content-section-constraints {
  margin-left: 5vw;
  margin-right: 5vw;
}
.footer {
  max-height: 120px;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}
.display-flex-row {
  display: flex;
  flex-direction: row;
}
.display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.guitar-dept-text-button {
}
.guitar-dept-nav-text-button {
}
.guitar-dept-footer-text-button {
}
.guitar-dept-footer-button-text-color {
}
.guitar-dept-nav-button-text-color {
}
.guitar-dept-button-text-color-grey, .guitar-dept-nav-button-text-color , .guitar-dept-nav-text-button {
  color: grey;
  background-color: white;
}
.guitar-dept-button-text-color-blue, .guitar-dept-footer-button-text-color , .guitar-dept-footer-text-button {
  color: darkblue;
  background-color: white;
}
.guitar-dept-footer-button-text-font-metrics , .guitar-dept-footer-text-button {
  font-size: 50%;
}
.force-uppercase-text, .guitar-dept-text-button , .guitar-dept-nav-text-button, .guitar-dept-footer-text-button {
  text-transform: uppercase;
}
.emasculated-ul {
  list-style: none;
  padding: 0rem 0rem 0rem 0rem ;
}
.padded-left {
  padding-left: 1rem;
}
.padded-right ,.guitar-dept-text-button , .guitar-dept-nav-text-button, .guitar-dept-footer-text-button {
  padding-right: 1rem;
}
/*========================*/

.guitar-dept-masthead {
  display: flex;
  flex-direction: row ;
  flex-wrap: nowrap;
}
.guitar-dept-submasthead {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.guitar-dept-masthead h1 {
}

.guitar-dept-column-header{
}
.guitar-dept-column-color {
}
.guitar-dept-news-media-label{
}
.guitar-dept-news-media-content-title{
  /*border-bottom: 50vw;*/
  /*outline: none;*/
}
.guitar-dept-column-centerjustified , .guitar-dept-column-header {
  justify-content: center;
}
.guitar-dept-column-color-wheat, .guitar-dept-column-color, .guitar-dept-column-header {
  background-color: wheat;
}
.guitar-dept-media-image-underconstruction {
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
}
.guitar-dept-footer-media-image, .guitar-dept-news-media-image, .guitar-dept-media-image {
  border: none; outline: none;
  margin-right: 1rem;
}
.guitar-dept-media-image-sizing-metrics, .guitar-dept-media-image {
  width: 320px;
  height: 421px;
}
.guitar-dept-footer-media-image-sizing-metrics, .guitar-dept-footer-media-image {
  width: 80px;
  height: auto;
  /*margin-right: 1rem;*/
}
.guitar-dept-news-media-image-sizing-metrics, .guitar-dept-news-media-image {
  width: 80px;
  height: 80px;
  /*margin-right: 1rem;*/
}
.guitar-dept-footer {
  background-color: lightslategrey;
}

/* ============ */

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Grid-bordered {
  border-bottom: 1px inset #dddddd;
}
.Grid-bordered-top {
  border-top: 1px inset #dddddd;
}
.Grid-cell {
  flex: 1;
}
.Grid-column-collection {
  flex-direction: column;
}

.Grid-column-item {
}
.Grid-row-collection {
  flex-direction: row;
}
.Grid-row-item {
}