body {
  font-family: Philosopher, sans-sarif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: black;
  background-color: white;
}

.content-section-constraints {
  /*width: 90vw;*/
}
.content-section-width, .content-section-constraints {
  width: 90vw;
}
.guitar-dept-content-sizing-constraint {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.standard-margin, .content-section-constraints {
  margin-left: 5vw;
  margin-right: 5vw;
}
.footer {
  max-height: 120px;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}
.display-flex-row {
  display: flex;
  flex-direction: row;
}
.display-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
/*force-uppercase-text padded-right*/
.guitar-dept-text-button {
}
.guitar-dept-nav-text-button {
}
.guitar-dept-footer-text-button {
}
.guitar-dept-footer-button-text-color {
}
.guitar-dept-nav-button-text-color {
}
.guitar-dept-button-text-color-grey, .guitar-dept-nav-button-text-color , .guitar-dept-nav-text-button {
  color: grey;
  background-color: white;
}
.guitar-dept-button-text-color-blue, .guitar-dept-footer-button-text-color , .guitar-dept-footer-text-button {
  color: darkblue;
  background-color: white;
}
.force-uppercase-text, .guitar-dept-text-button , .guitar-dept-nav-text-button, .guitar-dept-footer-text-button {
  text-transform: uppercase;
}
.emasculated-ul {
  list-style: none;
  padding: 0rem 0rem 0rem 0rem ;
  /*color: darkgreen;*/
  /*background-color: white;*/
}
.padded-left {
  padding-left: 1rem;
}
.padded-right ,.guitar-dept-text-button , .guitar-dept-nav-text-button, .guitar-dept-footer-text-button {
  padding-right: 1rem;
}
/*========================*/

/*.original-standard-margin {*/
  /*margin-left: 130px;*/
  /*margin-right: 130px;*/
/*}*/
/*.standard-padding {*/
  /*padding-left: 15px;*/
  /*padding-right: 15px;*/
/*}*/
/*==========================*/

/*.guitar-dept-masthead-flex-container {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex-wrap: nowrap;*/
  /*!*justify-content: flex-start;*!*/
  /*!*align-content: flex-start;*!*/
  /*!*align-items: flex-start;*!*/

/*}*/

.guitar-dept-masthead {
  display: flex;
  flex-direction: row ;
  flex-wrap: nowrap;
}
.guitar-dept-submasthead {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.guitar-dept-masthead h1 {
}

/*.navigation-buttons {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center ;*/
/*}*/
/*.header-navbar-WRONG {*/
  /*display: flex;*/
  /*justify-content: center;*/
/*}*/
/*.navigation-buttons ul {*/
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*list-style: none;*/
  /*padding-left: 5px;*/
  /*padding-right: 5px;*/
  /*background-color: white;*/
/*}*/
/*.navigation-buttons li {*/
/*}*/
.guitar-dept-column-header{
}
.guitar-dept-column-color {
}
.guitar-dept-column-centerjustified , .guitar-dept-column-header {
  justify-content: center;
}
/*.guitar-dept-column-header{*/
  /*justify-content: center;*/
/*}*/
.guitar-dept-column-color-wheat, .guitar-dept-column-color, .guitar-dept-column-header {
  background-color: wheat;
}
/*.guitar-dept-column-header{*/
  /*justify-content: center;*/
  /*background-color: wheat;*/
/*}*/

/*.guitar-dept-nav-button {*/
  /*text-transform: uppercase;*/
/*}*/
/*.guitar-dept-nav-button a {*/
  /*text-decoration: none;*/
  /*color: grey;*/
  /*padding: 0px 10px 0px 10px;*/
/*}*/

/*.guitar-dept-media-objects {*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: flex-start;*/
/*}*/
/*.guitar-dept-media-object {*/
  /*display: flex;*/
/*}*/
.guitar-dept-media-image-underconstruction {
  flex-direction: column;
  justify-content: center;
  flex-basis: 100%;
}
.guitar-dept-media-image {
  width: 320px;
  height: 421px;
  margin-right: 1rem;
}
.guitar-dept-footer-media-image {
  /*width: 175px;*/
  /*height: 80px;*/
  width: 80px;
  height: auto;
  margin-right: 1rem;
}
.guitar-dept-news-media-image {
  width: 80px;
  height: 80px;
  margin-right: 1rem;
}

/*.guitar-dept-media-body {*/
  /*!*flex: 1;*!*/
/*}*/

.guitar-dept-footer {
  background-color: lightslategrey;
}

/* ============ */

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Grid-bordered {
  border-bottom: 1px inset #dddddd;
}
/*.Grid-block {*/
  /*display: inline-flex;*/
/*}*/
.Grid-cell {
  flex: 1;
}
.Grid-column-collection {
  flex-direction: column;
}

.Grid-column-item {
}
.Grid-row-collection {
  flex-direction: row;
}
.Grid-row-item {
}