@charset "utf-8";
/* CSS Document */

body {
	background-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
h1 {
	font-size: 36px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 24px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-size: 18px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
h4 {
	font-size: 14px;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}
#menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	font-weight: normal;
}
a:link {
	color: #6699FF;
}
a:visited {
	color: #999999;
}
a:hover {
	color: #66CC66;
}
a:active {
	color: #6699FF;
}
p.page { page-break-after: always }
.spacer {
	margin-right: 30px;
	margin-left: 30px;
}
.style1 {font-size: 12px}
.style2 {font-size: 14px}
.style4 {font-size: 14px; color:#FFFFFF}
.style5 {font-size: 12px;font-weight: bold;
}
