/*
* =============================================================================================
*          DEVELOPMENT VERBS
* =============================================================================================
*/

/*====== Padding =====*/
.padded-above {
    padding-top: .5rem;
}

.padded-below {
    padding-bottom: 1rem;
}

.padded-left {
    padding-left: 1rem;
}

.padded-right {
    padding-right: 1rem;
}

.emasculated-ul,
.emasculated,
.Grid {
    list-style: none;
    margin: 0;
    padding: 0;
}
